<div class="col-12" *ngIf="currentWeek"
    style="height: 80px; padding: 30px; background-color: rgba(0, 0, 0, 0.6); border:2px solid #00E793; border-radius: 10px; display: flex; align-items: center;">
    <mat-icon style="color: #00E793; font-size: 15px; align-self: baseline;">circle</mat-icon>
    <h4 style="margin-bottom: 0px; margin-right: 20px; min-width: 200px">Week {{currentWeek}}</h4>
    <div *ngIf="!voteCurrentWeek.voted" style="width: 100%;">
        <input class="form-control" type="text" [(ngModel)] = "frequency"
            style="width: 30%; background-color: #191919;color: #FFFFFF; margin-right: 10px;float: left;" placeholder="Frequency" />
        <button type="button" (click)="submitFrequency()" style="background-color: #00E793; " class="btn btn-success">SUBMIT</button>
    </div>
    <div *ngIf="voteCurrentWeek.voted">
        Logged Activity: {{voteCurrentWeek.events}}
    </div>
</div>
<div *ngIf="upcomingTasks.length">
    <div class="col-12" *ngFor="let block of upcomingTasks;let i = index"
        style="height: 80px; padding: 30px; margin-top: 10px; background-color: rgba(0, 0, 0, 0.6); border-radius: 10px; display: flex; align-items: center;">
        <mat-icon style="color: #F2C94C; font-size: 15px; align-self: baseline;">circle</mat-icon>
        <h4 style="margin-bottom: 0px;">Week {{block.index}}</h4>
        <span style="margin-left: 25px;">#{{block.period}}</span>
        <i style="margin-left: 25px;">You will be able to log after period ends</i>
    </div>
</div>