<div class="container-fluid row" style="margin-top: 30px;">
    <div class="col" style="max-width: 25%;">
        <div class="col" style="background-color: #242424; padding: 20px;border-radius: 5px;">
            <h5 style="color: white">Personal Details</h5>
            <input class="form-control" type="text"
                style="width: 100%;margin-top: 15px; margin-bottom: 15px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                placeholder="Your Name" />
            <input class="form-control" type="text"
                style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                placeholder="Your wallet address" />
        </div>
        <div class="col"
            style="background-color: #242424; padding: 20px;border-radius: 5px; margin-top: 10px;margin-bottom: 10px;">
            <h5 style="color: white">Goal Setting</h5>
            <select class="form-select" id="inputGroupSelect01"
                style="width: 100%;margin-top: 15px;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;">
                <option selected>Select Category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <input class="form-control" type="text"
                style="width: 100%;margin-top: 10px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                placeholder="Goal Name" />
            <textarea class="form-control" rows="3" type="text"
                style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919; margin-bottom: 10px;"
                placeholder="Goal Description"></textarea>
            <div class="input-group mb-3">
                <span class="input-group-text"
                    style="background-color: #242424;color: #FFFFFF; border-color: #242424; padding-left: 2px;"
                    id="inputGroup-sizing-default">Duration of goal (in weeks)</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                    style="background-color: #191919; color: #FFFFFF; border-color: #191919;"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                    style="background-color: #242424;color: #FFFFFF; border-color: #242424; padding-left: 2px;">Frequency
                    of event</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                    style="background-color: #191919; color: #FFFFFF; border-color: #191919;"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="col"
            style="background-color: #242424; padding: 20px;border-radius: 5px; margin-top: 10px;margin-bottom: 10px;">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default"
                    style="background-color: #242424;color: #FFFFFF; border-color: #242424; padding-left: 2px;">Staking
                    Amount</span>
                <input type="number" min="1" max="1000" class="form-control" aria-label="Sizing example input"
                    style="background-color: #191919; color: #FFFFFF; border-color: #191919;"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>
    <div class="col" style="margin-bottom: 10px;max-width: 30%;">
        <div class="col" style="background-color: #242424; padding: 20px;border-radius: 5px; height: 100%;">
            <h5 style="color: white">Validator Details</h5>
            <div class="mb-3">
                <input class="form-control" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #1 Name" />
                <input class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #1 address" />
            </div>
            <div class="mb-3">
                <input class="form-control" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #2 Name" />
                <input class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #2 address" />
            </div>
            <div class="mb-3">
                <input class="form-control" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #3 Name" />
                <input class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #3 address" />
            </div>
            <div class="mb-3">
                <input class="form-control" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #4 Name" />
                <input class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #4 address" />
            </div>
            <div class="mb-3">
                <input class="form-control" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #5 Name" />
                <input class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #5 address" />
            </div>
        </div>
    </div>
    <div class="col text-center" style="max-width: 45%;">
        <div class="col" style="padding: 20px; color: #FFFFFF;">
            <button type="button" style="width: 60%;" class="btn btn-primary">CREATE GOAL</button>
        </div>
        <h6 class="text-white" style="opacity: 0.5; font-weight: bold;">HOW IT WORKS</h6>
        <div class="col"
            style="padding: 20px;background-color: #242424; border-radius: 5px; height: 80%; color: #FFFFFF; overflow: auto;">
            <img src="../../assets/images/image 20.svg" style="width: -webkit-fill-available;" />
        </div>
    </div>
</div>