<div [formGroup]="createGoalForm" class="container-fluid row" style="margin-top: 30px;">
    <div class="col" style="max-width: 25%;">
        <div class="col" style="background-color: rgba(0, 0, 0, 0.6); padding: 20px;border-radius: 5px;">
            <h5 style="color: white">Personal Details</h5>
            <div style="margin-bottom: 15px">
                <input [ngClass]="{ 'invalid-input': submitted && form.name.errors }" class="form-control" type="text"
                    formControlName="name"
                    style="width: 100%;margin-top: 15px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Participant Nick" />
                <span *ngIf="submitted && form && form.name.errors && form.name.errors.required"
                    class="invalid-feedback">Name is required</span>
            </div>
            <div>
                <div style="display: inline-flex; width: 100%;">
                    <input class="form-control" type="text" formControlName="address"
                        [ngClass]="{ 'invalid-input': submitted && form.address.errors }"
                        style="width: 80%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                        placeholder="Participant wallet address" />
                    <button style="width: 20%;" (click)="fillMe()">Me</button>
                </div>
                <span *ngIf="submitted && form && form.address.errors && form.address.errors.required"
                    class="invalid-feedback">Address is required</span>
            </div>
        </div>
        <div class="col"
            style="background-color: rgba(0, 0, 0, 0.6); padding: 20px;border-radius: 5px; margin-top: 10px;margin-bottom: 10px;">
            <h5 style="color: white">Goal Setting</h5>
            <div>
                <select class="form-select" [ngClass]="{ 'invalid-input': submitted && form.goalCategory.errors }"
                    id="inputGroupSelect01" formControlName="goalCategory" placeholder="Select category"
                    style="width: 100%;margin-top: 15px;line-height: 1.5; background-color: #191919;color: #FFFFFF; border-color: #191919;">
                    <option disabled selected>Select Category</option>
                    <option *ngFor="let cat of categories" [value]=cat.id>{{cat.name}}</option>
                </select>
                <span *ngIf="submitted && form && form.goalCategory.errors && form.goalCategory.errors.required"
                    class="invalid-feedback">Goal Category is required</span>
            </div>
            <div style="margin-bottom: 10px;margin-top: 10px;">
                <input class="form-control" type="text" formControlName="goalName"
                    [ngClass]="{ 'invalid-input': submitted && form.goalName.errors }"
                    style="width: 100%; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Goal Name" />
                <span *ngIf="submitted && form && form.goalName.errors && form.goalName.errors.required"
                    class="invalid-feedback">Goal Name is required</span>
            </div>
            <textarea class="form-control" rows="3" type="text" formControlName="goalDescription"
                style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919; margin-bottom: 10px;"
                placeholder="Goal Description"></textarea>
            <div class="input-group">
                <span class="input-group-text"
                    style="background-color: rgba(0, 0, 0, 0.6);color: #FFFFFF; border-color: rgba(0, 0, 0, 0.6); padding-left: 2px;"
                    id="inputGroup-sizing-default">Duration of goal (in weeks)</span>
                <input type="number" [ngClass]="{ 'invalid-input': submitted && form.durationOfGoal.errors }"
                    formControlName="durationOfGoal" class="form-control" aria-label="Sizing example input"
                    style="background-color: #191919; color: #FFFFFF; border-color: #191919;"
                    aria-describedby="inputGroup-sizing-default">
                <span style="padding-left: 2px;"
                    *ngIf="submitted && form && form.durationOfGoal.errors && form.durationOfGoal.errors.required"
                    class="invalid-feedback">Duration is required</span>
            </div>
            <div class="input-group mb-3" style="display: inline-flex">
                <select class="form-select" [ngClass]="{ 'invalid-input': submitted && form.goalCategory.errors }"
                    id="inputGroupSelect01" formControlName="targetType"
                    style="margin-top: 15px;line-height: 1.5; background-color: #191919;color: #FFFFFF; border-color: #191919;">
                    <option disabled selected value="null">Select Target Type</option>
                    <option value="0">Minimum</option>
                    <option value="1">Maximum</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default"
                    style="background-color: rgba(0, 0, 0, 0.6);color: #FFFFFF; border-color: rgba(0, 0, 0, 0.6); padding-left: 2px;">Frequency
                    of event</span>
                <input type="number" [ngClass]="{ 'invalid-input': submitted && form.frequency.errors }"
                    class="form-control" aria-label="Sizing example input" formControlName="frequency"
                    style="background-color: #191919; color: #FFFFFF; border-color: #191919;"
                    aria-describedby="inputGroup-sizing-default">
                <span style="padding-left: 2px;"
                    *ngIf="submitted && form && form.frequency.errors && form.frequency.errors.required"
                    class="invalid-feedback">Frequency is required</span>
            </div>
            <p style="color: #dfdfdf;">Note: For testing purposes, instead of actually waiting for 1 week, time has been set to 3 minutes. Every 3 minutes is equal to 1 week.</p>
        </div>
        <div class="col"
            style="background-color: rgba(0, 0, 0, 0.6); padding: 20px;border-radius: 5px; margin-top: 10px;margin-bottom: 10px;">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default"
                    style="background-color: rgba(0, 0, 0, 0.6);color: #FFFFFF; border-color: rgba(0, 0, 0, 0.6); padding-left: 2px;">Staking
                    Amount</span>
                <input [(ngModel)]="betAmount" type="number" min="1" max="1000" (change)="checkTokenAllowance()" class="form-control" aria-label="Sizing example input"
                    formControlName="betAmount" [ngClass]="{ 'invalid-input': submitted && form.betAmount.errors }"
                    style="background-color: #191919; color: #FFFFFF; border-color: #191919;"
                    aria-describedby="inputGroup-sizing-default">
                <span style="padding-left: 2px;"
                    *ngIf="submitted && form && form.betAmount.errors && form.betAmount.errors.required"
                    class="invalid-feedback">Staking Amount is required</span>
            </div>
        </div>
    </div>
    <div class="col" style="margin-bottom: 10px;max-width: 30%;">
        <div class="col" style="background-color: rgba(0, 0, 0, 0.6); padding: 20px;border-radius: 5px; height: 60%;">
            <h5 style="color: white">Validator Details</h5>
            <div class="mb-3">
                <input class="form-control" type="text" formControlName="validatorName1"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #1 Nick" />
                <input class="form-control" formControlName="validatorAddress1" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #1 address" />
            </div>
            <div class="mb-3">
                <input formControlName="validatorName2" class="form-control" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #2 Nick" />
                <input formControlName="validatorAddress2" class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #2 address" />
            </div>
            <div class="mb-3">
                <input class="form-control" formControlName="validatorName3" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #3 Nick" />
                <input formControlName="validatorAddress3" class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #3 address" />
            </div>
            <div class="mb-3">
                <input class="form-control" formControlName="validatorName4" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #4 Nick" />
                <input formControlName="validatorAddress4" class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #4 address" />
            </div>
            <div class="mb-3">
                <input class="form-control" formControlName="validatorName5" type="text"
                    style="width: 100%;margin-top: 20px; margin-bottom: 10px; line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #5 Nick" />
                <input formControlName="validatorAddress5" class="form-control" type="text"
                    style="width: 100%;line-height: 1; background-color: #191919;color: #FFFFFF; border-color: #191919;"
                    placeholder="Validator #5 address" />
            </div>
        </div>
    </div>
    <div class="col text-center" style="max-width: 45%;">
        <div class="col" style="padding: 20px; color: #FFFFFF;">
            <button type="submit" style="width: 60%;" class="btn btn-primary" (click)="createGoal()"
                *ngIf="isTokenAllowed">CREATE GOAL</button>
            <button type="submit" style="width: 60%;" class="btn btn-primary" (click)="approveToken()"
                *ngIf="!isTokenAllowed">Approve {{globalService.TokenName}}</button>
        </div>
        <h6 class="text-white" style="opacity: 0.5; font-weight: bold;">HOW IT WORKS</h6>
        <div class="col" (click)="redirectToWebflow()"
            style="padding: 20px;background-color: rgba(0, 0, 0, 0.6); border-radius: 5px; height: 60%; color: #FFFFFF; overflow: auto; cursor: pointer;">
            <img src="../../assets/images/Frame 102.png" style="width: -webkit-fill-available;" />
        </div>
    </div>
</div>