<h4 style="opacity: 0.5;">History</h4>
<div class="col-12" *ngFor="let week of history;let i = index"
    style="height: 80px; padding: 30px; margin-top: 10px; background-color: #191919; border-radius: 10px; display: flex; align-items: center;">
    <mat-icon style="color: #5D5D5D; font-size: 15px; align-self: baseline;">circle</mat-icon>
    <h4 style="margin-bottom: 0px; margin-right: 20px;">Week {{i+1}}</h4>
    <span *ngFor="let validator of week" [ngClass]="{'badge rounded-pill bg-success': validator.validationStatus, 'badge rounded-pill bg-danger': !validator.validationStatus}" style="margin-left: 5px; margin-right: 5px;">{{validator.name}}</span>
</div>