<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-7">
            <div class="card bg-dark text-white">
                <img src="../../assets/images/Group 46.png" style="align-self: flex-end;height: 160px; width: 160px;"
                    class="card-img" alt="You are on track">
                <div class="card-img-overlay">
                    <h1 class="card-title fw-bolder">You're</h1>
                    <h1 class="card-title fw-bolder">On track!</h1>
                </div>
            </div>
        </div>
        <div class="col-5" style="background-color: #242424; border-radius: 5px;">
            <div class="card bg-dark text-white">
                <div class="row">
                    <div class="col mt-3">
                        <h5 class="card-title fw-bold">Unlock NFT</h5>
                        <p>Get access to exclusive merch and more.</p>
                    </div>
                    <div class="col text-end">
                        <img src="../../assets/images/Frame 48.png"
                            style="height: 160px; width: 180px; padding: 15px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-white" style="margin-top: 30px; padding-bottom: 60px;">
        <div class="col-4">
            <div class="card bg-dark p-4">
                <div class="row">
                    <div class="col">
                        <span style="font-size: small;">Current Funds</span>
                        <h4>$1206.33</h4>
                    </div>
                    <div class="col">
                        <span style="font-size: small;">Status</span>
                        <div style="display: flex;">
                            <h4>On Track</h4>
                            <mat-icon style="color: orange;">local_fire_department</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-dark p-4 mt-2">
                <div class="row row-cols-2">
                    <div class="col">
                        <span style="font-size: small;">Goal</span>
                        <h4>Get Fit</h4>
                    </div>
                    <div class="col">
                        <span style="font-size: small;">Min Frequency</span>
                        <h4>3 / week</h4>
                    </div>
                    <div class="col">
                        <span style="font-size: small;">Staking amount</span>
                        <h4>$1000.00</h4>
                    </div>
                    <div class="col">
                        <span style="font-size: small;">Validators</span>
                        <h4>5</h4>
                    </div>
                </div>
            </div>
            <div class="card bg-dark p-4 mt-2">
                <div class="row align-items-center">
                    <div class="col-2">
                        <mat-icon>autorenew</mat-icon>
                    </div>
                    <div class="col-4" style="color: #2F80ED; font-weight: bolder; font-size: large;">
                        HOW IT WORKS
                    </div>
                    <div class="col text-end">
                        <mat-icon>east</mat-icon>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <button type="button" style="width: 100%; border: 1px solid #EB5757; padding: 10px;" class="btn btn-outline-danger">END GOAL AND WITHDRAW</button>
            </div>
            <div class="mt-2 text-center" style="opacity: 0.5; font-size: small;">
                Penalty of 5% will be levied upon the staking amount
            </div>
        </div>
        <div class="col-8">
            <upcoming-tasks></upcoming-tasks>
            <hr>
            <history></history>
        </div>
    </div>
</div>