<div class="container text-white py-5">
    <div class="row gx-2">
        <div class="rounded col-md-6 bg-dark p-3 mx-2 mb-4" style="display: flex; justify-content: space-between;">
            <div>
                <h1 style="font-size: 60px;" class="fw-bolder">{{states[targetStatus].primary}}</h1>
                <p class="text-secondary ">{{states[targetStatus].secondary}}</p>
            </div>
            <img class="" style="width:7em; height: 7em;"
                src={{states[targetStatus].img}}
                alt="tickmark">
        </div>
        <div class="rounded col-md-5 bg-dark p-3 mx-2 mb-4" style="display: flex; justify-content: space-between;">
            <div>
                <h3 class="fw-bolder">NFT Unlocked!</h3>
                <p style="max-width: 10em;" class="text-secondary">Get access to exclusive merch and more 👀</p>
            </div>
            <img style="width:7em; height: 7em;"
                src="https://gigaland.io/images/carousel/crs-7.jpg"
                alt="tickmark">
        </div>
    </div>
    <div class="row gx-2">
        <div class="rounded col-md bg-dark p-3 mx-2">
            <h5 class="fw-light text-secondary">Current funds</h5>
            <h1 class="fw-bolder">$1,206.88</h1>
        </div>
        <div class="rounded col-md bg-dark p-3 mx-2">
            <div class="row">
                <div class="col">
                    <p class="text-secondary mb-1">Goal</p>
                    <h6 class="mt-0 mb-3 fw-bolder">{{goalName}}</h6>
                </div>
                <div class="col">
                    <p class="text-secondary mb-1">Min frequency</p>
                    <h6 class="mt-0 mb-3 fw-bolder">{{frequency}} / Week</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-secondary mb-1">Staking Amount</p>
                    <h6 class="mt-0 mb-3 fw-bolder">${{stakingAmount}}</h6>
                </div>
                <div class="col">
                    <p class="text-secondary mb-1">Validators</p>
                    <h6 class="mt-0 mb-3 fw-bolder">{{validators.length}}</h6>
                </div>
            </div>
        </div>
        <div class="rounded col-md bg-dark p-3 mx-2">
            <h2 class="fw-bolder">HOW IT <br /> WORKS</h2>
            <a class="text-primary" style="cursor: pointer;">read more</a>
        </div>
    </div>
    <div style="margin-bottom: 10px;" class="col mt-4 d-flex justify-content-center">
        <button class="btn btn-secondary" (click)="withDrawAndExit()" style="margin-right: 10px; padding: 4px 20px; background: none; border: 1px solid gray; color: gray; border-radius: 5px;">WITHDRAW AND EXIT GOAL</button>
        <button class="btn btn-success" *ngIf="targetStatus>1" (click)="repeatGoal()" style="background: none; padding: 4px 20px; border: 1px solid lightgreen; color: lightgreen; border-radius: 5px;">REPEAT CHALLENGE</button>
    </div>

</div>