<div>
    <div *ngIf="isMetamask">
        <app-header></app-header>
        <div class="container-fluid">
            <router-outlet></router-outlet>
            <!-- <app-dashboard></app-dashboard> -->
        </div>
    </div>
    <div *ngIf="!isMetamask">
        <metamask-missing></metamask-missing>
    </div>
</div>
<!-- global loader -->
<div class="global-loader" *ngIf="loader.isLoading">
    <div class="overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>