// body { background-color: black; }
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}
html, body { height: 100%; }
body { margin: 0; font-family: "Rubik", "Helvetica Neue", sans-serif; background-image: url("./assets/images/Slide\ 16_9\ -\ 7.png");}
.invalid-input {
    border: 1px solid red !important;
}
.invalid-feedback {
    display: flex;
    font-size: smaller;
    color: red;
}

.global-loader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fdfcfc82;
}

.global-loader .overlay {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 10px);
}

.card.bg-dark {
    background-color: rgba(0, 0, 0, 0.6) !important;
}