<div class="m-2" style="background-color: #2E2E2F; height: 500px; border-radius: 5px; overflow: auto;">
    <div class="container">
        <div class="mb-3 pt-2">
            <h5 class="text-white">Validation portal</h5>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
        <div class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <h6 class="card-title">Michele</h6>
        </div>
    </div>

</div>