<div class="m-2" style="background-color: #2E2E2F; height: 500px; border-radius: 5px; overflow: auto;">
    <div class="container-fluid">
        <div class="mb-3 pt-2">
            <h5 class="text-white">Validation portal</h5>
        </div>
        <div *ngFor="let user of usersToValidate; let i = index" class="card-body text-white mb-2" style="background-color: #191919;border-radius: 5px;">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="card-title">{{user.participant}}</h6>
                    <h6 class="align-middle" style="color: grey;">{{user.goalName}} | {{user.goalFrequency}} / week</h6>
                </div>
                <div class="col text-end">
                    <span class="badge bg-secondary" style="background-color: #104D76 !important; width: 40%; line-height: 2;">{{user.goalFrequency}} / week</span>
                    <button mat-icon-button><mat-icon style="color: #F37171">cancel</mat-icon></button>
                    <button mat-icon-button><mat-icon style="color: #62A85D">check_circle</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="text-white" style="opacity: 0.5;" *ngIf="!usersToValidate.length">
            You have no users to validate!
        </div>   
    </div>

</div>